.DS_Store
*.Rproj
.history/
.Rhistory
*data/
rstudio_files/
*.RData
*.rds
*.Rproj.user
rproj.user/
.favorites.json
second-trimester/abhaduri_homefiles_ls.txt
*.css
*.js
*.js.map
*.html
*jquery*
.Rproj.user
