.DS_Store
*.Rproj
.history/
.Rhistory
*data/
rstudio_files/
*.RData
*.rds
*.Rproj.user
rproj,user/
.favorites.json
second-trimester/area_specific_markers/out/areaMarkers_avgexp_byCellType.rds
second-trimester/constellation_plots/dfs_and_objects_for_constellationPlot_ncx_exn.rds
second-trimester/constellation_plots/knn.result_knn.cl.df_ncx.exn_pc10_k15.rds
second-trimester/constellation_plots/knn.result_knn.cl.df_ncx.exn_pc50_k15.rds
second-trimester/constellation_plots/out/wholebrain_UMAP_byCellType_facet.pdf
second-trimester/featurePlots/out/UMAP_wholebrain_f_celltype_col_region.pdf
second-trimester/featurePlots/out/wholebrain_UMAP_byCellType_facet.pdf
